.image-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.image{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 58%;
    
    
}
.background-image {
    width: 60%;
    filter: blur(10px); /* ajusta el valor de desenfoque según sea necesario */
    z-index: -1;
    box-shadow: 10px 10px 10px;
  }